<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-positive">
        <h1 class="title">选择医院</h1>
        <button class="button button-clear button-primary" ng-click="modal.hide()">取消</button>
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <ion-item href='' ng-click='selectHospital(hospital)' ng-repeat="hospital in hospitals" class="item-icon-right">
                {{hospital.hostName}}
            </ion-item>
        </ion-list>
        
    </ion-content>
</ion-modal-view>
